<div ng-app="CountryStateApp" ng-controller="CountryStateController">

    <label>
        <h5>Country</h5>
        <select ng-model="selectedCountry"
                ng-options="country as country.Description for country in countries">
            <option style="display:none" value="">--Make a Selection--</option>
        </select>
    </label>
    <br />

    <b>Selection</b>
    <pre>{{selectedCountry | json}}</pre>    
    <br />

    <label>
        <h5>State</h5>
        <select ng-model="selectedState"
                ng-disabled="!selectedCountry"
                ng-options="state as state.Description for state in states">
            <option style="display:none" value="">--Make a Selection--</option>
        </select>
    </label>
    <br />

    <b>Selection</b>
    <pre>{{selectedState | json}}</pre>

</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//dev-alumni.indiana.edu/bbis/file/js/angular-bbis.js"></script>
<script type="text/javascript">
    'use strict';

    angular.module('CountryStateApp', ['bbis.api'])
    .controller('CountryStateController', ['$scope', 'BbisApi', function ($scope, BbisApi) {

        // Service for getting Country and State information.
        var countrySvc = new BbisApi.CountryService();

        // Models for data returned from the Country service.
        $scope.countries = [];
        $scope.states = [];

        // Models for user selections.
        $scope.selectedCountry = null;
        $scope.selectedState = null;

        // Resets the list of states based on the selected country. 
        $scope.$watch('selectedCountry', function (newValue) {
            if (!newValue) return;
            
            countrySvc.getStates(newValue.Id).then(function (states) {
                $scope.states = states;
            });
        });

        // Populate countries from the Country service.
        countrySvc.getCountries().then(function (countries) {
            $scope.countries = countries;
        });

    }]);
</script>
